<body>
  <nav>
    <div class="logo">
      <a><img src="assets/img/Logo.png" alt="logo">BARANGAY MUZON 2</a>
    </div>
    
    <ul class="menu">
      <li>
        <a routerLink="/home-page" routerLinkActive="active">HOME</a>
      </li>
      <li *ngIf="!userKey && !tokenKey">
        <a routerLink="/register" routerLinkActive="active">REGISTER</a>
      </li>
      <li *ngIf="!userKey && !tokenKey">
        <a routerLink="/login" routerLinkActive="active" >LOGIN</a>
      </li>
      <li class="nav-link">
        <a routerLink="/about" routerLinkActive="active">ABOUT</a>
      </li>
      <li class="nav-link" *ngIf="userKey && tokenKey">
        <a routerLink="/list-page" routerLinkActive="active">EMPLOYEE LIST</a>
      </li>
      <li class="nav-link" *ngIf="userKey && tokenKey">
        <a routerLink="/add-employee" routerLinkActive="active">ADD EMPLOYEE</a>
      </li>
      <li class="nav-link" *ngIf="userKey && tokenKey">
        <a routerLink="/" (click)="this.logout()" routerLinkActive="active">LOGOUT</a>
      </li>
    </ul>
    <div *ngIf="userKey && tokenKey" style="color:whitesmoke; text-decoration: none; font-weight: bold;">
      Admin ID: {{this.userKey}} is Logged In
  </div>
  </nav>
</body>



<router-outlet></router-outlet>
