body {
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #666;
	text-align: center;
	}
	.home{
		align-items: center;
		min-height: 80vh;
		background-repeat: no-repeat;
		background-size: auto;
		background-position:center;
		padding:70px;
	}
	
	.home .content{
		padding-bottom: 20px;
	}
	
	.home .content h3{
		text-align: center;
		font-size: 4rem;
		font-weight: 800;
		color:#FCC419;
		text-shadow: 5px 5px 5px black;
	}
	
	
	.home .content p{
		align-items: center;
		text-align: center;
		font-size: 3rem;
		color:white;
		text-shadow: 5px 5px 5px black;
		padding:1rem 0;
		line-height: 1.5;
	}
	
	.btn{
		margin-left: 45%;
		border-radius: 0rem;
		background:#FCC419;
		color:black;
		cursor: pointer;
		font-size: 20px;
		box-shadow: 5px 5px 5px black;
	}
	
	.btn ion-icon{
		font-size: 15px;
		align-items:inherit;
	}
	
	.btn:hover{
		background:white;
		color: black;
		
	}
	
	
	section{
		padding:30px;
		text-align:justify;
	}



	  
.box {
    height:auto;
    width:40vh;
    display:inline-block;
    margin:10px;
    
 }
 
 .text {
    padding:11px 0;
    color:white;
    text-shadow: 5px 5px 5px black;
    text-align:center;
    flex-wrap: wrap;
 }

 
 #container {
    text-align:center;
    flex-wrap: wrap;
    padding-top: 20px;
 }

 .item {
    padding-top: 20px;
 }
