<div>
  <div class="about-header">
    <h1>ABOUT US</h1>
  </div>
    <div class="about-wrapper">
      <div class="about-left">
        <div class="about-left-content">
          <div>
            <div class="shadow">
              <div class="about-img">
                <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt="about image">
              </div>
            </div>
            <h2>Jerry III Aquino</h2>
            <h3>Developer</h3>
          </div>
          <ul class="icons">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-instagram"></i></li>
          </ul>
        </div>
      </div>
      <div class="about-left">
        <div class="about-left-content">
          <div>
            <div class="shadow">
              <div class="about-img">
                <img src="assets/img/james-removebg-preview.png" alt="about image">
              </div>
            </div>
            <h2>James Rodley Chan</h2>
            <h3>Developer</h3>
          </div>
          <ul class="icons">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-instagram"></i></li>
          </ul>
        </div>
      </div>
      <div class="about-left">
         <div class="about-left-content">
          <div>
            <div class="shadow">
              <div class="about-img">
                <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt="about image">
              </div>
            </div>
            <h2>Kim Carlo Gabon</h2>
            <h3>Developer</h3>
          </div>
          <ul class="icons">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-instagram"></i></li>
          </ul>
        </div>
      </div>
      <div class="about-left">
        <div class="about-left-content">
          <div>
            <div class="shadow">
              <div class="about-img">
                <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt="about image">
              </div>
            </div>
            <h2>Andrea May Pineda</h2>
            <h3>Developer</h3>
          </div>
          <ul class="icons">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-instagram"></i></li>
          </ul>
        </div>
      </div>
  </div>
</div>
