<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="about-page.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>

<body>
  <section class="home" id="home" style="background-image: url('assets/img/Picture1.png');">
    <div class="content">
      <h3>ABOUT US</h3>
    </div>
    <div class="container">
      <div class="about-us-grid">
        <div class="about-box">
          <img src="assets/img/JerryAquino.png" alt="about Jerry">
          <h2>Jerry III Aquino</h2>
          <p>Developer</p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="about-box">
          <img src="assets/img/james-removebg-preview.png" alt="about James">
          <h2>James Rodley Chan</h2>
          <p>Developer</p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="about-box">
          <img src="person3.jpg" alt="Person 3">
          <h2>Kim Carlo Gabon</h2>
          <p>Developer</p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="about-box">
          <img src="assets/img/AndreaPineda-removebg-preview.png" alt="about Andrea">
          <h2>Andrea May Pineda</h2>
          <p>Developer</p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    

<!--       
      <div class="about-wrapper">

        <div class="about-left">
          <div class="about-left-content">
            <div>
              <div class="shadow">
                <div class="about-img">
                  <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt="about image">
                </div>
              </div>
              <h2>Jerry III Aquino</h2>
              <h3>Developer</h3>
            </div>
            <ul class="icons">
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-linkedin"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
          </div>
        </div>

        <div class="about-left">
            <div class="about-left-content">
            <div>
              <div class="shadow">
                <div class="about-img">
                  <img src="assets/img/james-removebg-preview.png" alt="about image">
                </div>
              </div>
              <h2>James Rodley Chan</h2>
              <h3>Developer</h3>
            </div>
            <ul class="icons">
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-linkedin"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
          </div>
        </div>
        <div class="about-left">
                <div class="about-left-content">
            <div>
              <div class="shadow">
                <div class="about-img">
                  <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt="about image">
                </div>
              </div>
              <h2>Kim Carlo Gabon</h2>
              <h3>Developer</h3>
            </div>
            <ul class="icons">
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-linkedin"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
          </div>
        </div>
        <div class="about-left">
                <div class="about-left-content">
            <div>
              <div class="shadow">
                <div class="about-img">
                  <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt="about image">
                </div>
              </div>
              <h2>Andrea May Pineda</h2>
              <h3>Developer</h3>
            </div>
            <ul class="icons">
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-linkedin"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
          </div>
        </div>
      </div> -->

  </section>

  

</body>
</html>
