<!DOCTYPE html>
<html>
  <body>
<section class="home" id="home"> 
<form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="registration-form">
  <h2 class="registration-title">REGISTRATION</h2>

<hr class="side">
<br>
  <div class="registration-inputs">
    <div class="registration-input">
      <label for="username" class="username-label">Username</label>
      <input type="text" name="username" [(ngModel)]="form.username" #username="ngModel" class="username-input" />
    </div>

    <div class="registration-input">
      <label for="nickName" class="nickName-label">Nickname</label>
      <input type="text" name="nickName" [(ngModel)]="form.nickName" #nickName="ngModel" class="nickName-input" />
    </div>

  </div>

  <div class="registration-inputs">
    <div class="registration-input">
      <label for="firstName" class="firstName-label">First Name</label>
      <input type="text" name="firstName" [(ngModel)]="form.firstName" #firstName="ngModel" class="firstName-input" />
    </div>

    <div class="registration-input">
      <label for="lastName" class="lastName-label">Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="form.lastName" #lastName="ngModel" class="lastName-input" />
    </div>

  </div>
  <br>

  <div class="emailpass">
  <label for="email" class="email-label">Email Address</label>
  <input type="email" name="email" [(ngModel)]="form.email" #email="ngModel" class="email-input" />

  <br>
  <br>
  <label for="password" class="password-label">Password</label>
  <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel" class="password-input" />
  </div>
  <br>
  <br>
  <div class="registration-button-container">
    <button type="submit" class="submit-button">Submit</button>
    <br>
    <br>
    <br>
    <p class="login-link" style="text-align: center;">Already have an account? <a routerLink="/login">Sign In</a>

    </p>
  </div>
</form>
</section>
</body>
<html>
