<div>
  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
    <div>
      <h3>Welcome Back!</h3>
      <h3>Login Here</h3>
      <label for="username">Username</label>
      <input required type="text" name="username" [(ngModel)]="form.username" #username="ngModel" />
      <label for="password">Password</label>
      <input required type="password" name="password" [(ngModel)]="form.password" #password="ngModel" />
    </div>
    <button type="submit">Submit</button>
    <span style="text-align: center; display: block; margin-top: 15px;">Don't have an account? <a routerLink="/register">Sign Up</a></span>
  </form>
</div>
