<!DOCTYPE html>
<html>
  <body>

<section class="home" id="home">
  
<form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="login-form">
  <h2 class="login-title">LOGIN</h2>
  <hr class="side">

  <div class="userpass">
      <label for="username" class="username-label">Username</label>
      <input type="text" name="username" [(ngModel)]="form.username" #username="ngModel" class="username-input" />
  <br>
  <br>
  <label for="password" class="password-label">Password</label>
  <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel" class="password-input" />
  </div>
  <br>
  <br>
  <div class="registration-button-container">
    <button type="submit" class="submit-button">Submit</button>
    <br>
    <br>
    <br>
    <span style="text-align: center; display: block;">Don't have an account? <a routerLink="/register">Sign Up</a></span>
  </div>
</form>
</section>
</body>
<html>
