.home{
  align-items: center;
  min-height: 80vh;
  background-color: #1D335E;
  background-repeat: no-repeat;
  background-size: auto;
  background-position:center;
  padding:1px;
}

.home .content{
  margin-left:100px;
  margin-right:100px;
  line-height: 20px;
}

.home .content h3{
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  color:#FCC419;
  text-shadow: 2px 2px 5px black;
}

.table-container {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* CSS for the list container table */
.list-container {
  width: 100%;
  box-shadow: 1 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.list-container th,
.list-container td {
  padding: 12px 15px;
  text-align: left;
}

.list-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.list-container tr {
  background-color: #f2f2f2;
}

.list-container tr:hover {
  background-color: #d5d5d5;
}

table {
  width:100%;
  border-collapse:collapse;
} 

table th,td {
  padding:10px;
}

th, td {
  border-right: 1px solid black;
  border-top: 1px solid black;
}


/* required css to make rounded table (below) */
tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* Style for the buttons */
button {
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s;
  width: 100px;
}

button.edit-btn {
  background-color: #e7c621;
}

button.delete-btn {
  background-color: #dc3545;
  margin-left: 8px;
}

button:hover {
  opacity: 0.9;
}

/* Additional styles for the container */
.list-container {
  margin-top: 20px;
  border-radius: 4px;
}

.header {
  font-size: 14px;
  font-weight: bold;
}

.employee-info {
  font-size: 14px;
}

.employee-info a {
  color: #007bff;
  text-decoration: none;
}

.employee-info a:hover {
  text-decoration: underline;
}