
    <!-- Footer -->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>QUICK LINKS</h3>
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">ABOUT US</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item item">
                    <h3>PROJECT TEAM</h3>
                    <ul>
                        <li>JERRY III AQUINO</li>
                        <li>JAMES RODLEY CHAN</li>
                        <li>KIM CARLO GABON</li>
                        <li>ANDREA MAY PINEDA</li>
                    </ul>
                </div>

                <div class="col item social">
                    <a href="#" target=”_blank”><i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="#" target=”_blank”><i class="fa fa-twitter-square"></i></a>
                    <a href="#" target=”_blank”><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">IT128L Project © 2023  All Rights Reserved.<br>FOPI01 4Q2223</p>
        </div>
    </footer>
</div>
